#Home{
	height: 100vh;
}

#HomeText{
	margin-top: 5%;
}

#About-Us{
	height: 100vh;
	width: 100vh;
	padding: 0px !important;
	margin: 0px !important;
}

#contact{
	height: 100vh;
	width: 100vh;
	padding: 0px !important;
	margin: 0px !important;

}

#Who-Are-We{
	margin-top: 5%;

}

#left-container{
	position: absolute;
	width: 100vh;
	height: 100vh;
	margin: 0;
	padding: 0;
	left: 0;
	background-image: url("Medical-People-Doctors-with-Stethoscopes-HD-Photo-1.jpg");
	background-size: 100% 100%;
}

#right-container{
	margin: 0;
	padding: 0;
	position: absolute;
	height: 100vh;
	left: 90vh;
	width: 100vh;
	/*background-color: #white;*/
}

#GraceText, #GraceImg{
	display: none;
	display: none;
}

#YungmiText, #YungmiImg{
	display: none;
}

#map {
    position: absolute;
	width: 100vh;
	height: 100vh;
	margin: 0;
	padding: 0;
	left: 0;
}

#copyright{
	color: white;
}

.btn-primary{
	background-color: #18BC9C;
	border-color: #fff;
	font-size: 1.5em;
}
.row{
	padding-top: 5%;
	padding-left: 5%;
	padding-bottom: 0%;
}


.about-container, .contact-container{
	position: relative;
	width: 100vh;
	height: 100vh;
	margin: 0;
	padding:0;
}

.image{
	height: 100vh;
	width: 100vh;
}